/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    margin-left: 0 !important;
}

body {
    line-height:1;
    background: #50c1c7;
    /*background-image: url(img/back.png);*/

}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
    font-family: 'Montserrat', sans-serif;
}
input:-webkit-autofill, select:-webkit-autofill {
    border-bottom: 1px solid #50c1c7 !important;
    -webkit-box-shadow:0 0 0 50px #f7f1e8 inset; /* Change the color to your own background color */

}



/*MY CODE*/

.main-wrapper {
    padding-left: 18px;
    padding-right: 18px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.header-wrapper {
    padding-left: 18px;
    padding-right: 18px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    height: 105px;
}
.settings-wrapper {
    padding-left: 18px;
    padding-right: 18px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.row {
    clear: both;
    margin: 0 10px;
}

.clear-me {
    clear: both;
}

nav {
    background: #fff;
    margin-bottom: 75px;
}

.navigation--ul {
    float: left;
}

.settings {
    float: left;
    list-style: none;
    padding-right: 30px;
    padding-left: 30px;
}

.nav--settings {
    float: left;
    color: #50c1c7;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.nav--settings a {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
}
.nav--logo {
    float: right;
    margin-top: 15px;
}
.nav--log {
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.navigation--left {
    float: left;
}
.navigation--right {
    padding-top: 25px;
}
.navigation--center {
    padding-top: 20px;
}

.main-container {
    width: 80%;
    margin: 0 auto;
    height: 720px;
}
.main-container h2 {
    font-family: arial;
    font-size: 30px;
    color: #FFF;
    line-height: 50px;
    text-align: center;
}

/*button*/

.button {
    display: block;
    cursor: pointer;
    height: 38px;
    width: 120px;
    float: left;
    border: none;
    border-radius: 5px;
    color: #FFF;
}
.button__green {
    background-color: #50c1c7;
}
.button__green a {
    color: #FFF;
}
.button__white {
    border: 1px solid #FFF;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0+100 */
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

}
.button__trigger {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0+100 */
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}
.button--width {
    display: block;
    cursor: pointer;
    padding: 0;
    height: 100px;
    width: 100%;
    border: none;
    margin-top: 2px;
    background-color: #FFF;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.6rem;
    color: #50c1c7;
    border-radius: 5px;
}
.button--edit-profile, .button--delete-profile {
    border: none;
    width: 20px;
    color: #fff;
    padding: 8px;
}

.button--edit-profile:hover, .button--delete-profile:hover {
    color: #545454;
}

.button__check-pwd {
    cursor: pointer;
    height: 30px;
    width: 80px;
    border: none;
    border-radius: 5px;
    color: #FFF;
    background-color: #50c1c7;
}
/* form */
.form--login {
    display: none;
    float: left;
}
.form--login input {
    float: left;
    width: 100px;
    height: 38px;
    padding: 0px 10px;
    margin-right: 10px;
    border-radius: 12px;
    border: none;
    background-color: #FFF;
    font-family: arial;
    font-size: 14px;
    color: #111;
    line-height: 30px;
}
label {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #50c1c7;
}

/* Profile */
.profile-avatar {
    position: relative;
    height: 100%;
}
.profile-avatar-change {
    width: 120px;
    height: 129px;
    margin-right: 40px;
    display: block;
    float: left;
    position: relative;
}

.nav-avatar__img {
    display: block;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
}
.nav-avatar {
    float: right;
}
.nav-id {
    float: right;
    line-height: 50px;
    margin-right: 20px;
}
.nav-id a {
    font-family: 'Montserrat', sans-serif;
    color: #50c1c7;
}
.profile-user {
    text-align: center;
    font-family: arial;
    font-size: 26px;
    color: #FFF;
    margin: 40px 0;
}
.form__avatar {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 0;
    text-align: center;
    bottom: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.input__avatar {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
#input__avatar--label {
    position: relative;
    font-size: 2rem;
    text-align: center;
    top: 40%;
    transform: translateY(-60%);
}
.fa-camera {
    color: #FFF;
}
.button__avatar {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: none;
}

#profile-name {
    width: 70%;
}
#profile-gender {
    width: 80%;
}
.profile__input--50 {
    float: left;
    width: 50%;
}
/* Settings */
.page-section {
    padding: 0;
}

#kids {
    padding-top: 0;
}

.account__logout {
    padding: 40px 20px;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.4rem;
    color: #50c1c7;
    text-align: center;
    background-color: #fff;
    border: none;
    height: 140px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
}

.account--content {

}
.profiles-content {

}
.profiles-min-content {

}
#profiles, #profiles-min, #about {
    margin-top: 2px;
}
#profiles-min {
    position: relative;
    background-color: #fff;
    border-radius: 5px;
}

.profiles-add {
    background-color: #ededed;
    text-align: center;
    font-size: 1.2rem;
    float: left;
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 40%;
    margin: 0 10px;
    cursor: pointer;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;

}
.profiles-add:hover {
    font-size: 1.6rem;
    -webkit-opacity: 0.25;
    -moz-opacity: 0.25;
    opacity: 0.25;
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease;
}
.profiles-add i {
    color: #50c1c7;
    line-height: 100px;
}
#avatar {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 40%;
    opacity: 0;
    transition: .5s ease;
    background-color: #50c1c7;
}
.profiles-min__img {
    width: 100px;
    height: 100px;
    border-radius: 40%;
    margin: 0 auto;
    display: block;
}
.profile-avatar:hover .profiles-min__img {
    opacity: 0.2;
    transition: .5s ease;;
}

.table-avatar:hover .overlay {
    opacity: 0.8;
    transition: .5s ease;
}

.profile-content__img {
    width: 120px;
    height: 120px;
    border-radius: 40%;
    display: block;
    opacity: 1;
}
.settings__form {
    width: 100%;
    margin: 0 auto;
}
.settings__form label {
    font-family: 'Montserrat', sans-serif;
    color: #50c1c7;
}
.table-avatar .profile-name {
    display:none;
}
.profile-avatar:hover .action-btns {
    opacity: 1;
    transition: .5s ease;
    z-index: 3;
}
.profile-avatar:hover .profile-name {
    display:block;
    position:absolute;
    text-align:center;
    width:100%;
    bottom:15px;
    z-index:4;
    color:#fff;
}
.profile-avatar .action-btns {
    opacity: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    margin: auto;
    text-align: center;
    line-height: 90px;
    position: absolute;
    z-index: 3;
}
#settings__form--password {
    margin-top: 2px;
}
#profile-avatar__label {
    position: absolute;
    top: 42%;
    left: 35%;
    font-size: 1.5rem;
    opacity: 0.7;
    cursor: pointer;
}
#profile-avatar__label:hover {
    top: 39%;
    left: 32%;
    opacity: 0.4;
    transition: .6s ease;
    font-size: 2rem;
}
.settings__input {
    width: 100%;
    height: 40px;
    margin: 5px 0;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid #ededed;
    background-color: #fff;
    font-size: 16px;
    color: #545454;
    line-height: 40px;
    font-size: 1.2rem;
}
.profiles-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #FFF;
    text-align: center;
    padding: 20px 10px;
}

/* td */
.profile-edit__td--absolute {
    position: absolute;
    top: 30px;
    left: 18px;
    display: none;
}
.profile-name__td--absolute {
    position: absolute;
    top: 70px;
    left: 25px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    display: none;
    color: #fff;
}
td {
    clear: both;
}
tr {
    position: relative;
}
#userData {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: #545454;
}

/* settings/profiles/table */
.table-avatar {
    position: relative;
    width: 100px;
    float: left;
    height: 100px;
    margin: 0 10px;
    cursor: pointer;
}

.page--title {
    text-align: center;
    font-size: 1.8rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 0.3rem;
}

.account-info {
    float: left;
    height: 100px;
    width: 658px;
    margin-right: 2px;

}

.account-avatar {
    float: left;
    background: #fff;
    width: 17.5%;
    height: 140px;
    margin-right: 2px;
    border-radius: 5px;
}

.account-username {
    float: left;
    background: #fff;
    width: 64.5%;
    height: 140px;
    border-radius: 5px;
    position: relative;
    margin-right: 2px;
}
.logout {
    width: 17.4%;
    height: 140px;
    display: inline-block;
    float: left;
    background: #fff;
    border-radius: 5px;
}

@media screen and (max-width: 886px) {
    .account-avatar {
        float: left;
        background: #fff;
        width: 25%;
        height: 140px;
        margin-right: 2px;
        border-radius: 5px;
    }
    .account-username {
        float: left;
        background: #fff;
        width: 49.3%;
        height: 140px;
        border-radius: 5px;
        position: relative;
        margin-right: 2px;
    }
    .logout {
        width: 25%;
        height: 140px;
        display: inline-block;
        float: left;
    }
}
@media screen and (max-width: 718px) {
    .account-avatar {
        width: 25%;
    }
    .account-username {
        width: 49.2%;
    }
    .logout {
        width: 25%;
    }
}
@media screen and (max-width: 624px) {
    .account-avatar {
        width: 25%;
    }
    .account-username {

        width: 49%;
    }
    .logout {
        width: 25%;
    }
}
@media screen and (max-width: 553px) {
    .account-avatar {
        width: 35%;
    }
    .account-username {
        width: 29%;
        text-align: center;
    }
    .logout {
        width: 35%;
    }
    .account-username__h3 {
        padding-left: 0 !important;
        text-align: center;
    }
}
@media screen and (max-width: 487px) {
    .account-avatar {
        width: 35%;
    }
    .account-username {
        width: 28.5%;
        text-align: center;
    }
    .logout {
        width: 35%;
    }
    .account-username__h3 {
        padding-left: 0 !important;
        text-align: center;
        font-size: 1rem !important;
    }
    .account__logout {
        font-size: 1rem;
    }
}
.account-username__h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 140px;
    padding-left: 40px;
    color: #50c1c7;
    display: inline;
}

.section__header {
    margin-bottom: 2px;
    height: 140px;
}

#account-arrow--down {
    position: absolute;
    top: 50%;
    left: 200px;
    color: #fff;
    cursor: pointer;
    display: none;
}
#account-arrow--up {
    position: absolute;
    top: 50%;
    left: 200px;
    color: #fff;
    cursor: pointer;
}
#kids-arrow--down {
    position: absolute;
    top: 50%;
    left: 70px;
    color: #fff;
    cursor: pointer;
    display: none;
}
#kids-arrow--up {
    position: absolute;
    top: 50%;
    left: 70px;
    color: #fff;
    cursor: pointer;
}

#about-arrow--down {
    position: absolute;
    top: 50%;
    left: 80px;
    color: #fff;
    cursor: pointer;
    display: none;
}
#about-arrow--up {
    position: absolute;
    top: 50%;
    left: 80px;
    color: #fff;
    cursor: pointer;
}
.section-title__h3 {
    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #fff;
    padding: 40px 0 20px 0;
    display: inline-block;
}

.account-avatar__img {
    position: relative;
    width: 80%;
    margin: 0 auto;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.settings__form--wrapper {
    background: #fff;
    padding: 50px 100px;
    border-radius: 5px;
}
.just-space {
    height: 40px;
}
#error-name {
    color: #f16b69;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
#result {
    color: #febf30;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}
/* Slider */
.slide-viewer {
    position: relative;
    overflow: hidden;
    height: 100px;
    padding: 20px 0;
    margin: 0 auto;
    width: 600px;
    border-radius: 5px;
}
@media screen and (max-width: 770px) {
    .slide-viewer {
        width: 490px;
    }
}
@media screen and (max-width: 670px) {
    .slide-viewer {
        width: 370px;
    }
}
@media screen and (max-width: 570px) {
    .slide-viewer {
        width: 250px;
    }
}
.slide-group {
    width: 1400px ;
    height: 100% ;
    position: relative;
}

.slide-arrow {
    display: inline-block;
    position: absolute;
    top: 45%;
    color: #50c1c7;
    cursor: pointer;
}

.slide-arrow--left {
    left: 30px;
}
.slide-arrow--right {
    right: 30px;
}
.slide-arrow--left:hover {
    left: 28px;
}
.slide-arrow--right:hover {
    right: 28px;
}
.section-title--wrapper {
    position: relative;
}

.header__form--password {
    display: none;
    float: left;
    color: #50c1c7;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 0 0 20px;
    width: 200px;
}
.header__form--password input {
    width: 50%;
    height: 30px;
    padding-left: 5%;
    margin-bottom: 4px;
    border: none;
    background-color: #f7f1e8;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    border-bottom: 1px solid #50c1c7;
}
/* Kids avatar index */
.index-avatar {
    position: relative;
    width: 100px;
    float: left;
    margin: 20px 16px;
    cursor: pointer;
}
.index-profile-name {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.6rem;
    color: #fff;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.index-avatar-outer {
    position: relative;
    width: 100px;
}

.main-wrapper--margin {
    margin-top: 150px;
}

/* Games */

.games__img {
    width: 100px;
    height: 100px;
    margin-right: 40px;
}
.games__h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.6rem;
    color: #fff;
    text-align: center;
    margin-bottom: 100px;
}
/* About */
.about-content--min {
    display: block;
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    padding: 40px 0;
}

.about-content--min__h3 {
    padding-left: 80px;
    font-size: 1.4rem;
    color: #50c1c7;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.about-content--min__h2 {
    padding-left: 80px;
    color: #50c1c7;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.6rem;
}
.about--content {
    display: block;
    width: 100%;
    height: 400px;
    background-color: #fff;
    border-radius: 5px;
}
/* fixed links */

.links__fixed {
    display: block;
    position: fixed;
    top: 45%;
    margin-left: 20px;
    height: 100px;
    width: 44px;
}
@media screen and (max-width: 979px) {
    .links__fixed {
        display: none;
    }
}
.user--a__fixed, .kids--a__fixed, .about--a__fixed {
    width: 100%;
    height: 44px;
    display: block;
    margin-bottom: 40px;
}
.user--a__fixed img, .kids--a__fixed img, .about--a__fixed img {
    padding: 10px;
}
.user--a__fixed:hover, .kids--a__fixed:hover, .about--a__fixed:hover {
    background-color: #e06261;
    border-radius: 18px;
    opacity: 1;
    transition: .6s ease;
}

.section__header-about {
    margin-bottom: 2px;
}
.container-col-12 {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    height: 720px;
}

.index-avatar--wrapper {
    display: table;
    margin: 80px auto;
}

.col__header--left {
    width: 10%;
    float: left;
    height: 100%;
}
/*Col index header login*/
.col__header--left-login {
    width: 60%;
    float: left;
    height: 100%;
}
.col__header--right-login {
    width: 40%;
    float: left;
    height: 100%;
}
/*Col index header !login*/
.col__header--center {
    width: 15%;
    float: left;
    height: 100%;
    display: none;
}
.col__header--right {
    width: 90%;
    float: left;
    height: 100%;
}
.col-7-sm {
    width: 100%;
    float: left;
    display: none;
}

.col-5-sm {
    width: 100%;
    float: left;
}
@media screen and (min-width: 800px) {
    .col-7-sm {
        width: 50%;
        float: left;
        display: block;
    }
    .col-5-sm {
        width: 50%;
        float: left;
    }
    .col__header--left-login {
        width: 42.5%;
        float: left;
        height: 100%;
    }
    .col__header--right-login {
        width: 42.5%;
        float: left;
        height: 100%;
    }
    .col__header--left {
        width: 42.5%;
        float: left;
        height: 100%;
    }
    .col__header--center {
        width: 15%;
        float: left;
        height: 100%;
        display: block;
    }
    .col__header--right {
        width: 42.5%;
        float: left;
        height: 100%;
    }
    #left-img {
        width: 115px;
        height: 250px;
        display: block;
        margin: 20px auto;
    }
    #left-text {
        height: 250px;
        display: block;
        padding: 0 30px;
        text-align: justify;
    }
    .right-signup {
        width: 380px;
        display: block;
        margin: 0 auto;
        background-color: #fff;
        padding: 50px 0;
    }
    #left-text h1 {
        margin: 40px 0 20px 0;
        color: #fff;
        font-family: 'Permanent Marker', cursive;
        font-size: 1.6rem;
        text-align: center;
    }
    #left-text p {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        color: #fff;
        font-size: 1rem;
        line-height: 1.2rem;
    }
}
@media screen and (min-width: 1000px) {
    .col-7-sm {
        width: 57.5%;
    }
    .col-5-sm {
        width: 42.5%;
    }
    #left-img {
        float: left;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 40px;
    }
    #left-text {
        width: 300px;
        height: 250px;
        display: block;
        float: left;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .right-signup {
        width: 400px;
    }
}
@media screen and (min-width: 1200px) {

}
.col__height {
    height: 498px;
}
.logo-center {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}
.logo-center img {
    margin: 0 auto;
    display: block;
}

.signup-form {
    max-width: 300px;
    margin: 0 auto;

}
.signup-form input {
    width: 100%;
    height: 30px;
    padding-left: 5%;
    margin-bottom: 4px;
    border: none;
    background-color: #f7f1e8;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

.signup-form__h2 {
    text-align: center;
    padding:  0 0 40px 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    color: #f16b69;
}

.button2 {

}

.signup-form--button {
    display: block;
    cursor: pointer;
    height: 38px;
    width: 120px;
    border: none;
    border-radius: 5px;
    color: #FFF;
    margin: 20px auto 0;
    background-color: #f16b69;
}
.error {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: red;
    line-height: 1.2rem;
}
.after-signup {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    color: #f7f1e8;
    line-height: 2rem;
}
.footer--wrapper {
    padding-left: 18px;
    padding-right: 18px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    height: 65px;
}
.footer-info {
    line-height: 65px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: darkgray;
}

.footer {
    background-color: #fff;
    margin-top: 40px;
}
