/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    background: #f16b69;   
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
    font-family: 'Montserrat', sans-serif;
}
input:-webkit-autofill, select:-webkit-autofill {
    border-bottom: 1px solid #50c1c7 !important;
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */

}



/*MY CODE*/

.main-wrapper {
    padding-left: 18px;
    padding-right: 18px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.row {
   
}
.col__medium-2 {
    float: left;
    width: 16.66%;
}
.col__medium-3 {
    float: left;
    width: 24.99%;
}
.col__medium-4 {
    float: left;
    width: 33.33%
}
.col__medium-5 {
    float: left;
    width: 41.66%;
}
.col__medium-6 {
    float: left;
    width: 50%;
}
.col__medium-8 {
    float: left;
    width: 66.66%;
}
.col__medium-10 {
    float: left;
    width: 83.32%;
}
.col__medium-12 {
    float: left;
    width: 100%;
}
.clear-me {
    clear: both;
}
.horizontal-line {
    content: '';
    width: 144px;
    position: relative;
    border: 0.5px solid #F6F6F6;
    margin-left: 20px;
}
nav {
    height: 70px;
    background: #50c1c7;
}

.navigation--ul {
    float: left;
}

.settings {
    float: left;
    list-style: none;
    padding-right: 30px;
    padding-left: 30px;
}

.vertical-line {
    float: left;
    content: '';
    height: 14px;
    position: relative;
    border: 1px solid #FFF;
    top: 0;
}
.nav--settings {
    float: left;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
}
.nav--settings a {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
}
.nav--logo {
    float: right;
    margin-top: 15px;
}
.nav--log {
    float: right;
}
.navigation--left {
    float: left;
    padding-top: 28px; 
}
.navigation--right {
    padding-top: 15px;
}

.main-container {
    padding-top: 40px;
    width: 80%;
    margin: 0 auto;
}
.main-container h2 {
    font-family: arial;
    font-size: 30px;
    color: #FFF;
    line-height: 50px;
    text-align: center;
}

/*button*/

.button {
    display: block;
    cursor: pointer;
    height: 38px;
    width: 120px;
    float: left;
    border: none;
    border-radius: 5px;
    color: #FFF;
}
.button__green {
    background-color: #50c1c7;
}
.button__green a {
    color: #FFF;
}
.button__white {
    border: 1px solid #FFF;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0+100 */
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

}
.button__trigger {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0+100 */
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}
.button--width {
    display: block;
    cursor: pointer;
    padding: 0;
    height: 100px;
    width: 800px;
    border: none;
    margin-top: 2px;
    background-color: #FFF;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.6rem;
    color: #50c1c7;
    border-radius: 5px;
}
.button--edit-profile, .button--delete-profile {
    border: none;
    width: 20px;
    color: #fff;
    padding: 8px;
}

.button--edit-profile:hover, .button--delete-profile:hover {
    color: #545454;    
}
/* form */
.form--login {
    display: none;
    float: left;
}
.form--login input {
    float: left;
    width: 100px;
    height: 38px;
    padding: 0px 10px;
    margin-right: 10px;
    border-radius: 12px;
    border: none;
    background-color: #FFF;
    font-family: arial;
    font-size: 14px;
    color: #111;
    line-height: 30px;
}
label {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: #50c1c7;
}

/* Profile */
.profile-avatar {
    position: relative;
    width: 100px;
}
.profile-avatar-change {
    width: 120px;
    height: 129px;
    margin-right: 40px;
    display: block;
    float: left;
    position: relative;
}

.nav-avatar__img {
    display: block;
    padding: 0 0 0 20px;
    height: 40px;
    margin: 0 auto;
}
.nav-avatar {
    float: right;
}
.nav-id {
    float: right;
    margin-top: 12px;
}
.nav-id a {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
}
.profile-user {
    text-align: center;
    font-family: arial;
    font-size: 26px;
    color: #FFF;
    margin: 40px 0;
}
.form__avatar {
    width: 300px;
    height: 50px;
    margin: 0 auto;
    padding-top: 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.29+0,0.3+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.29) 0%, rgba(255,255,255,0.3) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.29) 0%,rgba(255,255,255,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.29) 0%,rgba(255,255,255,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4affffff', endColorstr='#4dffffff',GradientType=0 ); /* IE6-9 */
}

.input__avatar {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#input__avatar--label {
    position: absolute;
    left: 40px;
    bottom: 15px;
}
.fa-camera {
    color: #FFF;
}
.button__avatar {
    position: absolute;
    right: 10px;
    top: 5px;
}

#profile-name {
    width: 70%;
}
#profile-gender {
    width: 80%;
}
.profile__input--50 {
    float: left;
    width: 50%;
}
/* Settings */
.page-section {
    padding: 1.5rem 0;
}
@media (min-width: 800px) {
    .page-section {
        padding: 2rem 0;
    }
}
#kids {
    padding-top: 0;
}

.account__logout {
    padding: 40px 20px;
        font-family: 'Permanent Marker', cursive;
    font-size: 1.4rem;
    color: #50c1c7;
    text-align: center;
    background-color: #fff;
    border: none;
    height: 140px;
    width: 140px;
    cursor: pointer;
    border-radius: 5px;
}

.account--content {
}
.profiles-content {
   
}
.profiles-min-content {
       
}
#profiles, #profiles-min, #about {
    margin-top: 2px;
}
#profiles-min {
    position: relative;
    background-color: #fff;
    border-radius: 5px;
}

.profiles-add {
    background-color: #ededed;
    text-align: center;
    font-size: 1.2rem;
    float: left;
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 40%;
    margin: 0 10px;
    cursor: pointer;
}
.profiles-add:hover {
    opacity: 0.5;
    font-size: 1.6rem;
}
.profiles-add i {
    color: #50c1c7;
    line-height: 100px;
    margin-right: 20px;
}
#avatar {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
 border-radius: 40%;    
  opacity: 0;
  transition: .5s ease;
  background-color: #50c1c7;
}
.profiles-min__img {
    width: 100px;
    height: 100px;
    border-radius: 40%;
    margin: 0 auto;
    display: block;
}
.profile-avatar .action-btns {
    display:none;
}
.profile-avatar:hover .action-btns {
    display: block;
    z-index: 3;
}
.profile-avatar:hover:after {
    content: "";
    background: rgba(80, 193, 199, 0.6);
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    left: 0;
    z-index: 2;
    border-radius: 40%;
    
}
.table-avatar:hover .overlay {
    opacity: 0.8;
    
}

.profile-content__img {
    width: 120px;
    height: 120px;
    border-radius: 40%;
    display: block;
}
.settings__form {
    width: 100%;
    margin: 0 auto;
}
.settings__form label {
    font-family: 'Montserrat', sans-serif;
    color: #50c1c7;
}
.table-avatar .profile-name {
    display:none;
}
.profile-avatar:hover .profile-name {
    display:block;
    position:absolute;
    text-align:center;
    width:100%;
    bottom:15px;
    z-index:4;
    color:#fff;
}
.table-avatar .action-btns {
    top: 0;
    bottom: 0;
    width: 100%;
    margin: auto;
    text-align: center;
    line-height: 116px;
    position: absolute;
}
#settings__form--password {
    margin-top: 2px;
}
#profile-avatar__label {
    position: absolute;
    top: 42%;
    left: 35%;
    font-size: 1.5rem;
    opacity: 0.7;
    cursor: pointer;
}
#profile-avatar__label:hover {
    top: 42%;
    left: 35%;
    opacity: 0.4;
    font-size: 2rem;
}
.settings__input {
    width: 100%;
    height: 40px;
    margin: 5px 0;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid #ededed;
    background-color: #fff;
    font-size: 16px;
    color: #545454;
    line-height: 40px;
    font-size: 1rem;
}
.profiles-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #FFF;
    text-align: center;
    padding: 20px 10px;
}

/* td */
.profile-edit__td--absolute {
    position: absolute;
    top: 30px;
    left: 18px;
    display: none;
}
.profile-name__td--absolute {
    position: absolute;
    top: 70px;
    left: 25px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    display: none;
    color: #fff;
}
td {
    clear: both;
}
tr {
    position: relative;
}
#userData {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: #545454;
}

/* settings/profiles/table */
.table-avatar {
    position: relative;
    width: 100px;
    float: left;
    height: 100px;
    margin: 0 10px;
    cursor: pointer;
}

.page--title {
    text-align: center;
    font-size: 1.8rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 0.3rem;
}

.account-info {
    float: left;
    height: 100px;
    width: 658px;
    margin-right: 2px;

}

.account-avatar {
    float: left;
    background: #fff;
    width: 140px;
    height: 140px;
    margin-right: 2px;
    border-radius: 5px;
}

.account-username {
    float: left;
    background: #fff;
    width: 516px;
    height: 140px;
    border-radius: 5px;
    position: relative;
    margin-right: 2px;
}
.account-username__h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 140px;
    padding-left: 40px;
    color: #50c1c7;
    display: inline;
}

.section__header {
    margin-bottom: 2px;
    height: 140px;
}

#account-arrow--down {
    position: absolute;
    top: 50%;
    left: 160px;
    color: #fff;
    cursor: pointer;
    display: none;
}
#account-arrow--up {
    position: absolute;
    top: 50%;
    left: 160px;
    color: #fff;
    cursor: pointer;
}
#kids-arrow--down {
    position: absolute;
    top: 50%;
    left: 60px;
    color: #fff;
    cursor: pointer;
    display: none;
}
#kids-arrow--up {
    position: absolute;
    top: 50%;
    left: 60px;
    color: #fff;
    cursor: pointer;
}

.section-title__h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #fff;
    padding: 40px 0 20px 0;
    display: inline-block;
}

.account-avatar__img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    margin: 0 auto;
    display: block;
}

.settings__form--wrapper {
    background: #fff;
    padding: 50px 100px;
    border-radius: 5px;    
}
.just-space {
    height: 40px;
}
#error-name {
    color: #f16b69;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}
#result {
    color: #febf30;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}
/* Slider */
.slide-viewer {
    position: relative; 
    overflow: hidden; 
    height: 100px;
    padding: 20px 0;
    margin: 0 auto;
    width: 600px;
    border-radius: 5px; 
}
.slide-group {
    width: 1400px ; 
    height: 100% ; 
    position: relative;
}

.slide-arrow {
    display: inline-block;
    position: absolute;
    top: 45%;
    color: #50c1c7;
    cursor: pointer;
}

.slide-arrow--left {
    left: 30px;
}
.slide-arrow--right {
    right: 30px;
}
.slide-arrow--left:hover {
    left: 28px;
}
.slide-arrow--right:hover {
    right: 28px;
}
.section-title--wrapper {
    position: relative;
}

.logout {
    width: 140px;
    height: 140px;
    display: inline-block;
    float: left;
}

.settings__form--password {
    display: none;
}
/* Kids avatar index */
.index-avatar {
    position: relative;
    width: 100px;
    float: left;
    margin: 0 16px;
    cursor: pointer;
}
.index-profile-name {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.6rem;
    color: #fff;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.index-avatar-outer {
    position: relative;
    width: 100px;
}

.main-wrapper--margin {
    margin-top: 150px;
}

/* Games */

.games__img {
    width: 100px;
    height: 100px;
    margin-right: 40px;
}
.games__h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.6rem;
    color: #fff;
    text-align: center;
    margin-bottom: 100px;
}